* {
  background-color: black;
}

h1 {
  color: azure;
}

.container {
  height: 726px;
  width: 726px;
  background-color: grey;
  border: solid 2px darkgrey;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 240px;
  width: 240px;
  background-color: brown;
  border: solid 1px black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  font-family: sans-serif;
  font-weight: 700;
}
